:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  font-weight: 400;
  color: #90553f;
  text-decoration: inherit;
}
a:hover {
  color: #963d45;
}

.button {
  font-size: 0.8em;
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
  color: white;
  transition-duration: 0.4s;
  border-radius: 20px;
  border: 1px solid black;
  margin: 1px;
}

.button:hover {
  background-color: white;
  color: #90553f;
  border: 1px solid #90553f;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url(https://images.pexels.com/photos/1646753/pexels-photo-1646753.jpeg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  padding: 2em;
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  color: white;
  font-family: "Noto Sans";
}

h1 {
  font-size: 1em;
  line-height: 1.1;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

p,
h3 {
  font-size: 0.8em;
  line-height: 1.5;
}

div.namecard {
  text-align: left;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-image {
  max-width: 130px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 4px;
}

@media screen and (min-width: 37em) {
  h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    content: "0" counter(card);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75em;
    height: 2.75em;
    background: #90553f;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 42em;
  }
}

@media screen and (min-width: 580px) {
  .left-image {
    max-width: 170px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 650px) {
  body {
    background: url("https://images.pexels.com/photos/1646753/pexels-photo-1646753.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 1.25em;
  }

  p,
  h3 {
    font-size: 0.9em;
  }

  .left-image {
    max-width: 260px;
    max-height: 170px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 10px;
  }

  div.namecard {
    text-align: left;
  }
}

.profile {
  border-radius: 50%;
  border-color: white;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
}

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  padding-bottom: 120vh;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 40vh;
}

.scroll-cards h1 {
  position: sticky;
  top: 2rem;
  font-size: 2em;
  margin: 0 0 0.5em;
}

.scroll-cards__item {
  --offset: 0.5em;
  color: #000;
  position: sticky;
  top: max(16vh, 10em);
  padding: 2em 1.5em;
  min-height: 19em;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  width: calc(100% - 5 * var(--offset));
}

.scroll-cards__item:nth-of-type(0) {
  transform: translate(
    calc((0 - 1) * var(--offset)),
    calc((0 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(
    calc((1 - 1) * var(--offset)),
    calc((1 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(
    calc((2 - 1) * var(--offset)),
    calc((2 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(
    calc((3 - 1) * var(--offset)),
    calc((3 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(
    calc((4 - 1) * var(--offset)),
    calc((4 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(
    calc((5 - 1) * var(--offset)),
    calc((5 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(6) {
  transform: translate(
    calc((6 - 1) * var(--offset)),
    calc((6 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(7) {
  transform: translate(
    calc((7 - 1) * var(--offset)),
    calc((7 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(8) {
  transform: translate(
    calc((8 - 1) * var(--offset)),
    calc((8 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(9) {
  transform: translate(
    calc((9 - 1) * var(--offset)),
    calc((9 - 1) * var(--offset))
  );
}

.shadow {
  text-shadow: 2px 3px 2px #000000;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.center {
  margin: auto;
}

.scroll-cards__item .card-content {
  max-height: 12em;
  overflow-y: auto;
  padding-right: 0.3em;
}

.scroll-cards__item .card-content::-webkit-scrollbar {
  width: 10px;
}

.scroll-cards__item .card-content::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-cards__item .card-content::-webkit-scrollbar-thumb {
  background-color: #90553f;
  border-radius: 10px;
  border: 2px solid transparent;
}

ul {
  text-align: left;
  font-weight: 400;
}

hr {
  border-top: 1px solid #90553f;
  width: 80%;
}
